@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
}

@layer components {
  .header {
    background-color: hsl(0, 0%, 100%);
  }
  main {
    background-color: hsl(0, 0%, 98%);
  }
  .topMenu {
    color: hsl(0, 0%, 52%);  
  }
  .glassIcon {
    color: hsl(0, 0%, 52%);
  }
  .filterWidth {
    width: 240px;
  }
  .countryFlag {
    @apply md:h-44;
  }
  .lightShadow {
    box-shadow: 0px 3px 10px 2px #F0F0F0;
  }
}